.main {
    border-width: 2px;
    border-style: solid;
    background-color: lightgray;
    height: 750px;
    width: 1500px;
}

li {
    display: inline;
    padding-left: 250px;
}

.map {
    height: 700px;
    width: 1500px;
    background-color: beige;
    background-image: url("/map.png");
    background-size: contain;
    position: relative;
}

.progress {
    background-color: rgba(255, 0, 0, 0.5);
    width: 0px;
    height: 700px;
}

.aim {
    border-radius: 50px;
    border-style: dotted;
    border-width: 3px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 0px;

}

.virus {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 0px;
}